:root {
  --sidebar-background: #151515;
  --background: #110d19;
  --body_background_color: #101010;
  --code-background: #070707;
  --proj-background: #070707;
  --content_background_color: #101010;
  --grey2: #979797;
  --grey: #c4c4c4;
  --header_background_color: #101010;
  --link: #ffffff;
  --text-color: #ffffff;
  --green: #02f789;
  --headercolor-1: #f38ba8;
  --headercolor-2: #f3b387;
  --headercolor-3: #a6e3a1;
  --headercolor-4: #90e2d5;
  --headercolor-5: #a0befe;
  --headercolor-6: #cba6cb;
  --footer-left-color: #d0d0d0;
  --footer-right-color: #979797;
  --tag: #050505;
}
