.content {
  max-width: 900px;
}
.content-desc {
  margin-bottom: 20px;
}
img {
  max-width: 100%;
  border-radius: 10%;
}
img.postImg {
  max-width: 500px;
  width: 100%;
}
.sidebar {
  background-color: var(--sidebar-background);
  box-shadow: -5px 0 10px var(--box-shadow);
  right: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  width: 25%;
}
blockquote {
  border-left: 3px solid var(--grey);
  margin-left: 5px;
}
blockquote p {
  color: var(--headercolor-2);
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 10px;
}
/* Mobile */
@media screen and (max-width: 460px) {
  .sidebar {
    border: 0px solid var(--border-accent);
    border-radius: 0px;
    top: calc(30px + 3vh);
    transition: transform 0s ease-in-out;
    max-height: 100%;
    width: 90%;
  }
  .toggle-btn {
    right: 5%;
    top: calc(90% + 4vh);
  }
  .table_of_contents {
    float: none;
  }
  .further-read {
    width: auto;
  }
}
