.table_of_contents {
  background-color: transparent;
  border: 2px var(--grey2);
  font-family: sans-serif;
  margin-bottom: 10px;
  margin-left: 20px;
}
.table_of_contents_header {
  margin-top: 20px;
  font-weight: bolder;
}
.table_of_contents a {
  color: var(--grey);
  text-decoration: none;
}
.table_of_contents ul {
  margin-bottom: 7px;
  padding-left: 14px;
  padding-right: 8px;
}
.table_of_contents li {
  margin-bottom: 7px;
}
.table_of_contents li::marker {
  color: transparent;
}
