:root {
  --accent: #7c5cff;
  --background: #110d19;
  --body_background_color: #101010;
  --border-accent: #7c5cff;
  --box-shadow: rgba(0, 0, 0, 0.3);
  --code-background: #070707;
  --content_background_color: #101010;
  --green: #02f789;
  --grey2: #979797;
  --grey: #c4c4c4;
  --header_background_color: #101010;
  --headercolor-1: #f38ba8;
  --headercolor-2: #f3b387;
  --headercolor-3: #a6e3a1;
  --headercolor-4: #90e2d5;
  --headercolor-5: #a0befe;
  --headercolor-6: #cba6cb;
  --link: #ffffff;
  --monospace-font: "Source Sans Pro", "Microsoft Yahei", sans-serif;
  --sidebar-background: #151515;
}
